.side-by-side {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; /* This provides a small space between the two columns */
    align-items: start;
}

.transcribed, .translated {
    padding: 0;
    margin: 0;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.transcribed {
    text-align: right;
    direction: rtl; /* Ensures right-to-left text flows correctly */
}

.translated {
    text-align: left;
}

.line-by-line {
    display: block;
}

#toggleButton {
    margin: 20px;
    padding: 10px;
    cursor: pointer;
}
