:root {
    --gap-size: 20px;
}

.side-by-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.transcribed, .translated {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    word-wrap: break-word; /* Ensures long words wrap */
}

.transcribed {
    text-align: right;
    direction: rtl; /* Right-to-left text */
    white-space: nowrap; /* Prevents text from wrapping to the next line */
}

.translated {
    text-align: left;
    white-space: nowrap; /* Prevents text from wrapping to the next line */
}

.line-by-line .transcribed,
.line-by-line .translated {
    display: block;
}

.line-by-line {
    display: block;
    line-height: 1;
}

.line-by-line p:nth-child(2n) {
    margin-bottom: 15px;
}

p {
    margin: 5px 0;
    font-size: 1.2rem;
    line-height: 1.5;
}

/* styles.css */

.highlight {
    background-color: yellow;
    font-weight: bold;
}

